body{
    /* background-image: linear-gradient(to right,white , lightblue); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header{
    background-color: #1877f2;
    padding: 7px;
    display: flex;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: inline;
    margin-left: 10%;
}

#uname,#logged,#pwd{
font-size: small;
    color: white;

}

.m{
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    display: inline-block;
    width: auto;
    height: auto;
    margin-left:30%;
}

.p{
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    display: inline-block;
    width: auto;
    height: auto;
    margin-left:10%;
}

#user{
    margin-top: 5px;
    width: 15em;
    border: 0cap;
    border-radius: 4px;
}

input[type="checkbox"]{
    display: inline-block;
    margin-top: 3%;
}

a{
    display: inline-block;
    font-size: small;
    text-decoration: none;
    color:rgb(255, 251, 251);
    margin-top: 3%;
}

#login{
    background-color: #0318334f;
    color: white;
    width: 6%;
    height: 6%;
    border-radius: 4px ;
    margin-top: 1.8%;
    margin-left: 3%;
}

#reg {
    /* background-color: #1876f24f; */
    width: 30%;
    float: right;
    padding-bottom: 11%; /* Add padding to create vertical space */
}

#fname {
    width: 43.9%;
    height:30px;
    margin-left: 7px;
    margin-bottom: 10px;
    border: 2px solid whitesmoke;
    border-radius: 4px;
}

#num {
    margin-bottom: 10px;
    margin-left: 7px;
    width: 92%;
    height: 30px;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    margin-top: 2%;
}

#bd {
    margin-left: 7px;
    margin-top: 20px;
}

#g {
    margin-top: 2%;
    margin-left: 7px;
}

#register {
    background-color: greenyellow;
    color: white;
    font-weight: 900;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 4px;
    margin-top: 20px; /* Add margin to create vertical space */
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

#register:hover{
    background-color: darkgreen;
    transition: 0.5s ease-in;
}

img{
    width: 70%;
    height: auto;
    position:relative
}
