* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    /* justify-content: right; */
    align-items: center;
    height: 8vh;
    background: #333;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.338);
    /* padding: 0 10px; */
}

.logo img{
    width: 50px;
    height: 50px;
    margin-right: 100px;
    margin-left: 5px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    color: white;
    font-family: "Roboto Condensed", serif;;
    text-decoration: none;
    font-size: 0.8rem;
}

.nav-links a:hover{
    color: red;
    transition: 0.3s;
}

.image-button {
    display: flex;
    margin-left: auto;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;

}

.image-button img {
    /* margin-right: 4px; */
    width: 25px;
    height: 25px;
}

.slider-container{
    /* padding-top: 10px; */
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    /* border-radius: 4px; */
}

.slider{
    display: flex; 
    width: 100%; /* Adjust based on the number of images */
    animation: slide 15s infinite;
}

.slider img{
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
    object-fit: cover;
}

@keyframes slide { 
    0% { transform: translateX(0); } 
    20% { transform: translateX(-100%); } /* Move to the second image */ 
    40% { transform: translateX(-200%); } /* Move to the third image */ 
    60% { transform: translateX(-300%); } /* Move to the fourth image */ 
    80% { transform: translateX(-400%); } /* Move to the fifth image */ 
    100% { transform: translateX(0); }
}

h1{
    font-family: 'Bebas Neue', serif; 
    font-style: italic; 
    font-weight: 300;
    font-size: 3.5em;
    margin-top: 10px;
}

.choice{
    display: inline-flex;
    flex-direction: column;
    width: 190px;
    height: 190px;
    border: 2px solid black;
    border-radius: 145px;
    text-align: center;
    justify-content: center;
    margin: 15px 0 0px 100px;
}

.choice p{
    font-family: "Jersey 10", serif;
    font-size: 1em;
}

.choices{
    /* border: 2px solid red; */
    text-align: center;
}

.choices img{
    width: 70px;
    height: 70px;
}

.choice:hover{
    /* background-color: rgba(229, 34, 34, 0.445); */
    transition: 0.2s;
    color: gold;
    cursor: pointer;
}

.choice:hover img{
    transform: scale(1.2);
    transition: 0.3s ease-in;
}

.image-container-tall{
    border-radius: 4px ;
    display: inline-block;
    /* flex-direction: column; */
    margin-top: 30px;
    margin-left: 20px;
    border: 2px solid maroon;
    width: 450px;
    height: 500px;
    object-fit: contain;
}

.image-container-tall img{
    width: 450px;
    height: 500px;
}

.row{
    margin-left: 2%;
    display: inline-block;
    /* flex-direction: column; */
    /* border: 2px solid rgb(244, 6, 6); */
    width: 500px;
    height: 500px;
    object-fit: contain;
}
.image-container-short img{
    margin: 4px;
    border-radius: 4px;
    width: 500px;
    height: 240px;
    transform: scale(1.0);

}
